body {
	min-width: 600px;
	font-family: 'Roboto';
	background: #a8ff78;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
	width: 360px;
	margin: 100px auto;
	box-shadow: 0 0 3px rgba(0,0,0, 0,1);
}

.completedTask {
	text-decoration: line-through;
	color: gray;
}

#header {
	margin: 0px;
	padding: 10px 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 24px;
	text-transform: uppercase;
	background-color: #2980b9;
	color: white;
}

input {
	width: 100%;
	padding: 10px 10px 10px 20px;
	border: 0;
	box-sizing: border-box;
	font-size: 16px;
	background-color: #f1f1f1;
	border-bottom: 1px solid #c0c0c0;
}
input:focus {
	background-color: white;
	border: 2px solid #2980b9;
	outline: none;
}

ul {
	padding: 0px;
	margin: 0;
	list-style: none;
}

li {
	height: 40px;
	line-height: 40px;
	color: #666;
	background-color: white;
}

li:hover span {
	width: 40px;
	opacity: 1;
}

li:nth-child(2n) {
	background-color: #f1f1f1;
}
.fa-plus {
	float: right;
}

span {
	background-color: rgba(255, 21, 21, 0.801);
	height: 40px;
	width: 0;
	color: rgb(236, 236, 236);
	margin-right: 10px;
	display: inline-block;
	text-align: center;
	transition: 0.3s linear;
	opacity: 0;
}